.root {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #FFFFFF;
  border-radius: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
}

.image {
    background: url(../assets/travel-login-photo.png) center/cover no-repeat;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
    width: 70%;
}

.right_panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 30%;
  padding: 48px;
  gap: 48px;
  height: 100%;
  background: #FFFFFF;
  order: 1;
  overflow-y: auto;
}
.app_info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    flex: none;
    order: 0;
    flex-grow: 0;
    gap: 16px;
}
.logo {
    width: 48px;
    height: 48px;
    order: 0;
}
.title {
    order: 1;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #000000;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    align-self: stretch;
}
.text_title {
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #1A1A1A;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}
.above_input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px 8px;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}
.input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    flex: none;
    align-self: stretch;
    flex-grow: 0;
}
.input_box{
    padding: 12px 16px;
    border-radius: 8px;
    border: 1px solid #CCCCCC;
    align-self: stretch;
}
.button_box {
    background-color: #e49bff;
    border-radius: 8px;
    padding: 0px;
    width: 100%;
    margin: 24px 0;
    justify-content: center;
}
.button_box:hover {
    background-color: #d17ee6;
    border: 1px solid #a730c5;
}
.button_text {
    font-style: normal;
    font-size: 15px;
    letter-spacing: 0.3px;
    color: #FFFFFF
}
.register {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 0px 0px;
    margin: 0px 0px;
    font-size: 14px;
}
.register_text {
    font-weight: 500;
    display: flex;
    color: #1A1A1A;
    flex: none;
    gap: 4px;
}
.register_link {
    color: #d671fb;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
}

.register_link:hover {
    color: #cb24f5;
    text-decoration: underline;
}
