.main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    height: 100vh;
    box-sizing: border-box;
    transition: 0.5s all;
    padding: 2rem;
    gap: 2rem;

    position: sticky;
    top: 0;
    background: #FFFFFF;
    border-right: 1px solid #E8EAF6;
}
.user {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 12px;
    font-size: larger;
}
.img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    object-fit: scale-down;
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 100%;
}
.menuItem {
    border-bottom: 1px solid #7e7e7e;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}
.button {
    width: 100%;
    border-radius: 0;
    background: #FFFFFF;
    font-size: medium;
    border: 1px;
    outline: none;
}
.button:hover{
    border: none;
    font-size: large;
}
.button:focus{
    border: none;
    outline: none;
}
.icon {
    width: 24px;
    height: 24px;
}
.logout {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 5px;
}